<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Bootstrap Theme The Band</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- include layout/head %>
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">

<%- include layout/nav %>

<div class="container">
    <h2>Basic Table</h2>
    <p>The .table class adds basic styling (light padding and only horizontal dividers) to a table:</p> 
    <a href="/admin/post/new" class="btn">Add</a>           
    <table class="table">
        <thead>
        <tr>
            <th>id</th>
            <th>title</th>
            <th>content</th>
            <th>author</th>
            <th>create time</th>
            <th>update time</th>
            <th>action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            
            <% if (data && data.posts) { %>
                <% for(item of data.posts) { %>
                    
                    <tr>
                        <td><%= item.id %></td>
                        <td><%= item.title %></td>
                        <td><%= item.content %></td>
                        <td><%= item.author %></td>
                        <td><%= item.created_at %></td>
                        <td><%= item.update_at %></td>
                        <td>
                            <a href="/admin/post/edit/<%= item.id %>" class="btn">edit</a>
                            <a href="javascript:void(0)" class="btn post_delete" post_id="<%= item.id %>">Delete</a>
                        </td>

                    </tr>
                <% } %>
            <% } %>
        </tr>
    
        </tbody>
    </table>
</div>
<!-- Image of location/map -->
<img src="map.jpg" class="img-responsive" style="width:100%">

<!-- Footer -->
<footer class="text-center">
  <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a><br><br>
  <p>Bootstrap Theme Made By <a href="https://www.w3schools.com" data-toggle="tooltip" title="Visit w3schools">www.w3schools.com</a></p> 
</footer>

<script type="text/javascript" src="/static/js/post.js"></script>

</body>
</html>
